*,
*::before,
*::after {
    box-sizing: border-box;
}

/* 
=================
    Grid
================= 
*/

.container {
    width: 960px;
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
}

/* 
=================
    Typography
================= 
*/

h1, h3, h4, h5, p {
    margin-bottom: 22px;
}

/* 
=================
    Buttons
================= 
*/

.btn {
    border-radius: 5px;
    display: inline-block;
    margin: 0;
}

.btn-alt {
    border: 3px solid #dfe2e5;
    padding: 10px 30px;
}

/* 
=================
    Home
================= 
*/

.hero {
    padding: 22px 80px 66px;
}